body {
  margin: 5% 20%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #3c3c3c;
  font-size: 4rem;
}

h2 {
  color: #ffa500;
  font-size: 2rem;
}

.task-card {
  background-color: whitesmoke; /*do whitesmoke color when task is completed*/
  border-radius: 1em;
  padding: 3%;
  text-align: center;
  min-width: min-content;
  max-width: 100%;
  margin: 5%;
}

.task-title {
  text-align: left;
}

.btn {
  font: inherit;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 0.5em;
  padding: 1%;
  border: 1px solid black;
  margin: 0 1em;
}

.btn:hover {
  font-weight: bold;
  color: white;
  background-color: darkgrey;
}

.red-btn {
  /* font: inherit; */
  color: white;
  /* cursor: pointer; */
  background-color: rgb(219, 35, 35);
  /* border-radius: 0.5em;
  padding: 1%; */
  border: 1px solid black;
}

.red-btn:hover {
  color: rgb(219, 35, 35);
  background-color: white;
}

.actions {
  text-align: right; /*align the del button to the right*/
}

.overlay {
  font: inherit;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 19vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
/* https://github.com/academind/react-complete-guide-code/blob/zz-reactjs-summary/extra-files/index.css */

.task-form {
  background-color: lightblue;
}

.input-bar {
  width: 30%;
  border-radius: 0.5em;
  padding: 2%;
  margin: 0 1em;
  font: inherit;
}